<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Lihat Semua Kasus - UTS APAP 2022</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(case)"></nav>

<div class="container">

    <div class="alert alert-primary" role="alert" th:text="${success}" th:if="${success}"></div>
    <div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>

    <table class="table">
        <thead>
        <tr>
            <th>Case Id</th>
            <th>NIK</th>
            <th>Nama</th>
            <th>Status</th>
            <th>Tanggal Gejala Pertama</th>
            <th>Fakultas</th>
            <th>Jumlah Hari Setelah Gejala Pertama</th>
            <th colspan="4"> Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="covid, iterationStatus : ${caseList}" th:style="${iterationStatus.even} ? 'color:blue' : '' ">
            <td th:text="${covid.caseId}"></td>
            <td th:text="${covid.nik}"></td>
            <td th:text="${covid.nama}"></td>
            <td th:text="${covid.status}"></td>
            <td th:text="${covid.tanggalGejalaPertama}"></td>
            <td th:text="${covid.fakultas}"></td>
            <td th:text="${covid.hariSetelahGejalaPertama}"></td>
            <td>
                <a type="button" class="btn btn-primary" th:href="@{/covid/detail/{caseId}(caseId=${covid.caseId})}">Detail</a>
                <a type="button" class="btn btn-secondary" th:href="@{/covid/update/{caseId}(caseId=${covid.caseId})}">Update Status</a>
            </td>
        </tr>
        <tbody>
        </tbody>
    </table>
</div>

</body>
</html>
